body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;;
  margin: 0 auto;
  
}

.title {
  font-family: "Roboto Bold", sans-serif;
}

.subtitle {
  font-family: "Roboto Medium", sans-serif;
}

.text {
  font-family: "Roboto Reguiar", sans-serif;
}

button {
  cursor: pointer;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}



/*!========HEDER====================*/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc; 
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  
  
}

.logo-studio {
  color: #2e2f42;
  margin-right: 76px;
}

.header-container {
  display: flex;
}

/*.navigation {
  /*display: flex;
  align-items: center;
  /*flex-grow: 1;
  justify-content: space-between;
  margin-right: px;
}*/

.navigation-menu-list {
  display: flex;
  gap: 40px;
  flex-grow: 1;
  justify-content: space-between;
  margin-right: 332px;
}

.navigation-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.navigation-menu-link:hover,
.navigation-menu-link:focus {
  color: #404bbf;
}

.header-address-list {
  display: flex;
  gap: 40px;
  
}
/*.header-address-mailto {
 width: 153px;
}

.header-address-tel {
  width: 151px;
}*/

.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

.header address {
  font-style: normal;
}

/*!========HERO========================*/
.hero {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/*!=====FEATURES=======================*/

.features-info {
  width: 264px;
  height: 104px;
}

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*!======TEAM======================*/

.team {
  background-color: #f4f4fd;
}

.team-item {
  background-color: #ffffff;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-info {
  width: 232px;
  height: 56px;
  /*padding: 32px 16px;*/
}

.team-image-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/*!====PORTFOLIO==========*/

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-subsektion {
  width: 1128px;
  height: 420px;
}

.portfolio-info {
  border-bottom: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
  height: 120px;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}



/*!=======FOOTER==============*/
.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-info {
  width: 264px;
  height: 112px;
}

.footer-logo-studio {
  color: #f4f4fd;
  margin-bottom: 16px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}


